@import '../../scss/abstracts';

.app-button {
  padding: 0.8rem 1rem 1rem 1rem;
  min-width: 3rem;
  min-height: 3rem;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  color: $color-white;
  background-color: $color-primary;
  font-size: 2rem;
  --main-color: $color-primary;
  --contrast-color: $color-white;
}