@import '../../scss/abstracts';

.home-partners {
  padding: 5rem;

  h3 {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;

  }

  .home-partners-logos {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin: 0 auto;

    .home-partners-logos-row {
      @include flex-complete($justify: center);
      margin-bottom: 5rem;

      .home-partners-logos-item {
        flex: 0 0 17%;
        margin: 0 4%;
        img { 
          max-width: 100%;
          filter: grayscale(100%);
        }

        &.logo-auto {
          text-align: center;
          img { 
            height: 90px;
            width: auto; 
          }
        }
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  @media all and (max-width: $mobile-width) {
    .home-partners-logos {
      .home-partners-logos-row {
        flex-direction: column;
        margin-bottom: 0;

        .home-partners-logos-item {
          margin-bottom: 40px;

          img {
            max-height: 60px;
          }
        }
      }
    }
  }
}