@import '../../scss/abstracts';

.home-hero {
  position: relative;
  min-height: 65vh;
  padding: 10rem;
  

  .logo-bg {
    position: absolute;
    top: 5%;
    left: 40%;
    opacity: 0.1;
    z-index: -1;
  }

  h1 {
    font-weight: 300;
    font-size: 7rem;
  }

  h2 {
    font-weight: 300;
    font-size: 6rem;
    max-width: 60%;
    margin-top: 5%;
  }

  .blue {
    color: $color-primary;
  }

  @media all and (max-width: $mobile-width) {
    padding: 3rem;
    min-height: auto;
    .logo-bg {
      left: 0;
      top: 0;
      
      svg {
        width: 200%;
        height: 200%;
      }
    }
    h1 { font-size: 5rem; }
    h2 { font-size: 3rem; }
  }
}