@import '../../scss/abstracts';

.home-contact {
  text-align: center;
  padding: 5rem;

  h3 {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  a {
    font-size: 2rem;
  }
}