// COLORS

// FONT
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$primary-font: 'Lato', sans-serif;
$color-primary: #0090ff;
$color-white: #fff;
$color-grey: rgb(206, 206, 206);
// FONT SIZES


$mobile-width: '680px';