@import '../../../scss/abstracts';

header {
  padding: 2rem;

  .burger { display: none; }

  ul {
    list-style-type: none;
    display: flex;

    li {
      margin-left: 3rem;
      font-size: 2rem;
      font-weight: 400;
      a {
        color: $color-primary;
      }
    }
  }
  @media all and (max-width: $mobile-width) {
    .burger { display: block; }
    ul {
      position: fixed;
      top: 94px;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: white;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transition: left 0.3s;
      z-index: 2;

      li {
        margin: 2rem auto;
        font-size: 3rem;

        &:last-child {
          margin-top: 4rem;
        }
        .app-button {
          font-size: 3rem;
        }
      }

      &.is-open {
        left: 0;
      }
    }
  }
}
