@import '../../scss/abstracts';

.home-faqs {
  padding: 5rem;
  max-width: 70%;
  margin: auto;

  h3 {
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
  }

  .home-faqs-item-desc {
    font-size: 1.8rem;
    text-align: center;
    
    a {
      text-decoration: underline;
    }
  }

  // .home-faqs-list {
  //   max-width: 800px;
  //   margin: 0 auto;
  // }

  // .home-faqs-item {
  //   margin-bottom: 40px;

  //   .home-faqs-item-title {
  //     font-size: 2.5rem;
  //     color: $color-primary;
  //     font-weight: bold;
  //     margin-bottom: 10px;
  //   }
  //   .home-faqs-item-desc {
  //     font-size: 1.8rem;
  //     text-align: center;
  //   }
  // }

  @media all and (max-width: $mobile-width) {
    max-width: 100%; 
  }
}